<div class="row">
    <div class="col"><h3>Filters</h3></div>
</div>
<div class="d-flex align-items-center mb-3">
    <div class="me-2"><span style="font-weight: bold">Show number of posts:</span></div>

    <div>
        <select class="form-select" #numberOfDisplayPosts (change)="filterChange()">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
        </select>
    </div>
</div>
<div class="d-flex align-items-center">
    <div class="me-2"><span style="font-weight: bold">Filter by User Id:</span></div>
    <div class="d-flex me-2" *ngFor="let userId of uniqueUserIds">
        <button class="btn" (click)="uniqueUserIdClick(userId)" [ngClass]="[ userIdPostFilter == userId  ? 'btn-primary' : 'btn-info']">{{userId}}</button>
    </div>
</div>
<div class="d-flex align-items-center mt-3">
    <div><span style="font-weight: bold">Enter post title:</span></div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" #querySearch placeholder="Search by post title" aria-label="Enter Post title" aria-describedby="button-addon3">
        <button class="btn btn-primary" type="button" id="button-addon3" (click)="filterChange()">Search Post</button>
    </div>
</div>
